# --- Visual Studio Ignore ---
.vs/
x64/
x86/
Debug/
Release/
*.user
*.suo
*.db
*.ipch
*.aps
*.opendb
*.sdf
*.cache
*.log
packages/
.vscode

# --- Python Ignore ---
__pycache__/
*.pyc

# --- File Video/Anh test ---
*.avi
*.jpg
*.png

# ... (các dòng cũ giữ nguyên)
# Bỏ qua file thực thi và DLL lẻ (để không upload nhầm)
*.exe
*.dll

# NHƯNG cho phép file Zip
!*.zip
!*.rar

#react.js
Web_Client/node_modules/